.fo-content {
	background: #fafafa;
}
.fo-resign {
	margin-top: 4%;
}
.resign-left {
	text-align: center;
}
.resign-form {
	border-right: 1px solid #e1e1e1;
}
.input-group {
    margin: 0px 0px 30px 0px ;
}
.resign-left .left-item {
	position: relative;
	margin-left: 20%;
	width: 60%;
	height: 42px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
}
.resign-left .left-item label, .resign-left .left-item input {
	border: none;
	height: 100%;
}
.resign-left .left-item label {
	background: #fff;
}
.resign-left .left-item input {
    color: #999;
    font-size: 12px;
    background: #fff;
    
}
.resign-left .left-item input:focus {
    outline: none;
    box-shadow: none;
}
.resign-left .left-item:hover {
	color: #333333;
    border-color: #2CBCA3;
}

.input-group .form-control {
	outline: none;
}
.getmbcaptcha {
	display: inline-block;
    width: 90px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: #997c34;
    color: #fff;
    text-align: center;
    line-height: 42px;
}
.left-item>span {
	position: absolute;
    top: 42px;
    left: 0;
    color: red;
}
.btn-box {
	padding-top: 30px;
    overflow: hidden;
}
 .btn-box .xieyi {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.btn-box .xieyi>input {
    margin: 2px 0 0 -20px;
}
.btn-box .xieyi>p {
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #505050;
}
.res-btn {
	width: 60%;
}
.reg-img {
	padding-left: 15%;
}

@media only screen and (max-width: 1023px) {
	.resign-right {
		display: none;
	}
	.btn-box .xieyi>input {
		margin: 2px 0 0 -120px;
	}
	
}

@media only screen and (max-width: 480px) {
	.resign-left .left-item {
		margin-left: 0;
		width: 100%;
	}
	.res-btn {
		width: 100%;
	}
	.btn-box .xieyi>input {
		margin: 2px 0 0 0px;
	}
	.resign-right {
		display: none;
	}
	
}